@import "../../website-components/styles/colors";

.albumdets-title {
   margin-bottom: .6rem;
}

p {
   margin-bottom: .5rem;
}

.albumdets-artist {
   color: $gray-dark;
   font-size: 1.3rem;
}

.albumdets-year {
   color: $gray;
   font-size: 1.25rem;
}