@import '../styles/global-styles';

.contact-heading {
    font-size: 5rem;
    margin-top: 4rem;
}

.contact-email {
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;

        .gmail-me {
            color: #C24845;
        }
    }

    .GmailIcon {
        width: 70px;
    }
}

.contact-linkedin {
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;

        .me {
            background: #0A66C2;
            padding-left: 1.25rem;
            padding-right: 1.2rem;
        }

    }
    
    .me {
        color: $white;
        display: inline-block;
        padding-bottom: 1rem;
        padding-top: .75rem;
        line-height: 1;
        border-radius: 10px;
    }

}

@media(min-width: 600px) {
    .contact-heading {
        font-size: 7rem;
        margin-top: 2rem;
    }
}

@media(min-width: 768px) {
    .contact-heading {
        font-size: 9rem;
        margin-top: 4rem;
    }
}

@media(min-width: 992px) {
    .contact-heading {
        font-size: 10rem;
    }
}