@import "../website-components/styles/colors";

body {
   background: $white;
}

.App {
   height: auto;
}

.content-change {
   transition: all 400ms ease;
}

.btn-primary {
   background: $primary-color;
   border-color: $primary-color;
   
   &:hover {
      background: $primary-lighter;
   }
   
   &:not(:disabled):not(.disabled):active, &:focus {
      background: $primary-lighter;
      border-color: $primary-color;
   }

   &:focus {
      box-shadow: 0 0 0 0.2rem rgba(68, 88, 219, 0.5);
   }
}

.album-collection-title {
   color: $black;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.add-btn-title {
   padding-left: 5px;
}

.text-black{
   color: $black;
}

@media(min-width: 992px) {
   .album-collection-title {
      margin-bottom: 1.5rem;
   }
}