@import '../styles/global-styles';

.heading {
    font-size: 6rem;
    margin-top: 4rem;
}

@media(min-width: 768px) {
    .heading {
        font-size: 8rem;
        margin-top: 5rem;
    }
}

@media(min-width: 992px) {
    .heading {
        font-size: 10rem;
    }
}