@import '../styles/colors';


.gradient-green-top {
    background: -webkit-gradient(linear-gradient(45deg, $secondary-light 20%, $secondary-color, $secondary-dark));
    background: linear-gradient(45deg, $secondary-light 20%, $secondary-color, $secondary-dark);
    position: absolute;
    top: -200px;
    right: -250px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: -1;
}

.gradient-bottom {
    background: -webkit-gradient(linear-gradient(to right, $primary-color 20%, $primary-dark));
    background: linear-gradient(to right, $primary-color 20%, $primary-dark);
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    z-index: -2;
}

@media(min-width: 992px) {
    .gradient-green-top {
        top: -200px;
        right: -140px;    
    }

    .gradient-bottom {
        bottom: -200px;
        right: 0px;
    }
}

