@import '../styles/global-styles';

.navbar-light  {
    background: transparent;
    
    .navbar-brand {
        border-bottom: 2px solid transparent;
        color: $white;
        font-size: 1.75rem;

        &:hover, &:focus {
            color: $primary-light;
        }
    }

    .navbar-toggler {
        color: $white;
        border: none;
    }

    .navbar-nav {
        margin-top: .75rem;

        .nav-link {
            border-bottom: 2px solid transparent;
            color: $white;
            font-size: 1.25rem;

            &:hover, &.active, &:focus {
                color: $secondary-color;
            }
        }
    } 
}

@media(min-width: 992px) {
    .navbar-light {
        .navbar-brand {
            &::after {
                content: '';
                display: block;
                width: 0%;
                padding-top: 5px;
                border-bottom: 2px solid $primary-color;
                transition: 1s;
            }
    
            &:hover {
                background-position: 0 100%;
                
                &::after {
                    width: 100%;
                }
            }   
        }

        .navbar-nav {
            margin-top: 0;

            .nav-link {
                color: $black;
                margin-left: .75rem;
                margin-right: .75rem;
                
                &::after {
                    content: '';
                    display: block;
                    width: 0%;
                    padding-top: 5px;
                    border-bottom: 2px solid $primary-color;
                    transition: .5s;
                }

                &:hover, &.active, &:focus {
                    color: $primary-color;
                }

                &:hover {
                    background-position: 0 100%;
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}